[data-theme="dark"] {
  --bg: #1a1a1a;
  --text: #ffffff;
  --disabled: #070707;

}

/* Manual light mode override */
[data-theme="light"] {
  --bg: #ffffff;
  --text: #1a1a1a;
  --disabled: #e0e0e0;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.selectedButton {
  background-color: rgb(0, 225, 0);
}

.bigBox {
  width: 300px;
  margin: 30px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(10px);
  text-shadow: 2px 2px 3px #000000;
}

input[type=number] {
  box-shadow: rgb(0 0 0 / 5%) 0px 10px 16px 0px inset, rgb(0 0 0 / 4%) 0px 6px 20px 0px inset;
  width: 100px;
  border-radius: 8px;
  border: 2px solid transparent;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0.8em;
  font-size: 1em;
  background-color: white;
  color: black;
  border-color: #b3b3b3;
}

input[type=number]::-webkit-inner-spin-button {
  box-shadow: rgb(0 0 0 / 8%) 0px 6px 20px 0px;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: -5px;
  padding-right: 10px;
}

button {
  /* box-shadow: rgb(0 0 0 / 5%) 0px -10px 16px 0px inset, rgb(0 0 0 / 4%) 0px -6px 20px 0px inset, rgb(0 0 0 / 12%) 0px 5px 5px 0px; */
  box-shadow: rgb(0 0 0 / 12%) 0px 5px 5px 0px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 90px;
  margin: 3px;
  color:var(--text);
  background-color:var(--bg);
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 5px 0px, rgba(0, 0, 0, 0.18) 0px 0px 9px 0px;
}

button[disabled] {
  box-shadow: rgb(0 0 0 / 9%) 0px 2px 5px 0px;
  background-color: var(--disabled);
  color: #555555;
  cursor:default;
}

/*
button:focus,

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f0f0f0;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: white;
  }
} */

.mainContainer {
  height: 95vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainTable {
  width: 95%;
  height: 60%;
}

.overlay {
  color: white;
  position: fixed;
  display: block;
  bottom: 20%;
  /*left: 0;*/
  right: 1%;
  /*bottom: 0;*/
  z-index: 2;

  /* box-shadow: inset 0px 0px 12px 6px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 3px #000000; */
}

.seatButton {
  padding: 3px 3px;
  margin: 1px;
  /* width: 30px; */
  width:80%;
  height:80%;
  min-height:40px;
}

.chip {
  height:25px;
  padding:0px;
  border-radius: 30px;
}

.seatReserved {
  background-color: green;
}

.seatButton:disabled {
  background-color: rgb(57, 57, 57);
}

.seatNotSelected {
  background-color: #800000;
}

.pageContainer {
  display: flex;
}